<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve, Sean-Frankel Gaon Canlas, Jhonatan, Orjuela, Tyler Patricio
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="bookview.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />
	
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<f:event listener="#{displayBooksBean.setSingleBook}"
		type="preRenderView" />

	<div id="wrap">

		<ui:include src="/WEB-INF/templates/header.xhtml" />

		<div class="container-fluid main-content">
			<div class="leftblock">
			</div>
			<div class="rightblock">
				<ui:repeat value="#{displayBooksBean.singleBook}" var="singleBook">
					<div class="mainbookinfo">
						<div class="bookcover">
							<h:graphicImage styleClass="imgsize" library="bookscover"
								name="#{singleBook.bookCoverImg}" />
						</div>
						<div class="bookinfo">
							<legend>#{msg['bookViewTitle1']}</legend>
							<fieldset>
								<b>#{msg['bookTitle']}</b> #{singleBook.title} <br /> <b>#{msg['bookAuthor']}</b>#{singleBook.author}<br />
								<b>#{msg['bookPrice']}</b>#{singleBook.listPrice}<br /> <br />
								<b>#{msg['bookInStock']}</b>#{singleBook.numOfCopies}
								<h:form>
									<h:commandLink type="submit" styleClass="btn btn-default right"
										value="#{msg['addCart']}"
										action="#{cartBean.addBookToCart(singleBook.isbn13)}">
									</h:commandLink>
								</h:form>
							</fieldset>
						</div>
					</div>
					<div class="informations">
						<legend>#{msg['bookViewTitle2']}</legend>
						<fieldset>
							<b>#{msg['bookGenre']}</b>#{singleBook.genre}<br /> <b>#{msg['bookDimension']}</b>#{singleBook.dimensions}<br />
							<b>#{msg['bookPages']}</b>#{singleBook.numOfPages}<br /> <b>#{msg['bookIsbn10']}</b>#{singleBook.isbn10}<br />
							<b>#{msg['bookIsbn13']}</b>#{singleBook.isbn13}<br /> <b>#{msg['bookPublisher']}</b>#{singleBook.publisher}<br />
							<b>#{msg['bookType']}</b>#{displayBooksBean.changeNumberTypeToString(singleBook.bookType)}<br />
							<b>E#{msg['ebookFormat']}</b>#{singleBook.ebookFormat}<br /> <b>#{msg['bookWeight']}</b>#{singleBook.weight}<br />
						</fieldset>
					</div>
				</ui:repeat>

				<div id="topbooks">
					<legend>#{msg['similarBooks']}</legend>
					<div class="bxslider">
						<ui:repeat value="#{displayBooksBean.getBooksByGenre(displayBooksBean.getSingleBook().getGenre())}" var="sameGenre">

							<div class="top-book">
								<h:link outcome="toBookView">
									<h:graphicImage styleClass="book-img" library="bookscover"
										name="#{sameGenre.bookCoverImg}" />
									<f:param name="isbn13" value="#{sameGenre.isbn13}" />
								</h:link>
								<div class="book-info">
									<div class="book-title">
										<h:link outcome="toBookView">
								#{sameGenre.title}
								<f:param name="isbn13" value="#{sameGenre.isbn13}" />
										</h:link>
										<br></br>
										<p class="book-author">#{sameGenre.author}</p>
									</div>
									<div class="book-price">$#{sameGenre.listPrice}</div>
								</div>
							</div>
						</ui:repeat>
					</div>
				</div>
				<div id="reviews-container" class="reviewsplace">
					<legend>#{msg['bookViewTitle3']}</legend>

					<h:form id="review-form">
						<div id="review-stars" class="starContainer">
							<h:commandButton id="rating_1" class="starRating"
								image="./resources/images/grey-star.ico"
								disabled="#{!loginBean.logedin}"
								action="#{bookReviewAction.setRatingStar(1)}">
								<f:ajax execute="@form" render="@none" />
							</h:commandButton>
							<h:commandButton id="rating_2" class="starRating"
								image="./resources/images/grey-star.ico"
								disabled="#{!loginBean.logedin}"
								action="#{bookReviewAction.setRatingStar(2)}">
								<f:ajax execute="@form" render="@none" />
							</h:commandButton>
							<h:commandButton id="rating_3" class="starRating"
								image="./resources/images/grey-star.ico"
								disabled="#{!loginBean.logedin}"
								action="#{bookReviewAction.setRatingStar(3)}">
								<f:ajax execute="@form" render="@none" />
							</h:commandButton>
							<h:commandButton id="rating_4" class="starRating"
								image="./resources/images/grey-star.ico"
								disabled="#{!loginBean.logedin}"
								action="#{bookReviewAction.setRatingStar(4)}">
								<f:ajax execute="@form" render="@none" />
							</h:commandButton>
							<h:commandButton id="rating_5" class="starRating"
								image="./resources/images/grey-star.ico"
								disabled="#{!loginBean.logedin}"
								action="#{bookReviewAction.setRatingStar(5)}">
								<f:ajax execute="@form" render="@none" />
							</h:commandButton>
						</div>

						<h:panelGrid>
							<h:inputText id="reviewTitle"
								styleClass="reviewTitleInput form-control"
								disabled="#{!loginBean.logedin}"
								value="#{bookReviewAction.reviewTitle}">
								<f:validateLength miminum="1" maximum="50"></f:validateLength>
							</h:inputText>
							<h:inputTextarea id="reviewText"
								styleClass="reviewTextArea form-control"
								disabled="#{!loginBean.logedin}"
								value="#{bookReviewAction.reviewString}" maxlength="750">
								<f:validateLength miminum="1" maximum="750"></f:validateLength>
							</h:inputTextarea>
							<h:commandButton id="submitReview"
								disabled="#{!loginBean.logedin}" styleClass="btn btn-default"
								action="#{bookReviewAction.registerReview(displayBooksBean.singleBook.isbn13)}">
								<f:param name="isbn13"
									value="#{displayBooksBean.singleBook.isbn13}"></f:param>
							</h:commandButton>

							<h:message for="reviewTitle" errorStyle="color:red" />
							<h:message for="reviewText" errorStyle="color:red" />
							<h:outputLabel style="color:red;"
								rendered="#{!loginBean.logedin}"
								value="You must be logged in to submit a review."></h:outputLabel>
						</h:panelGrid>
					</h:form>
					<ui:repeat
						value="#{bookReviewAction.getReviewsByISBN(displayBooksBean.singleBook.isbn13)}"
						var="aReview">
						<div class="book-review">
							<div class="stars">
								<h:graphicImage class="rating-stars" library="images"
									name="star.ico" alt="rating scheme"
									rendered="#{bookReviewAction.displayStarOne(aReview.rating)}" />
								<h:graphicImage class="rating-stars" library="images"
									name="star.ico" alt="rating scheme"
									rendered="#{bookReviewAction.displayStarTwo(aReview.rating)}" />
								<h:graphicImage class="rating-stars" library="images"
									name="star.ico" alt="rating scheme"
									rendered="#{bookReviewAction.displayStarThree(aReview.rating)}" />
								<h:graphicImage class="rating-stars" library="images"
									name="star.ico" alt="rating scheme"
									rendered="#{bookReviewAction.displayStarFour(aReview.rating)}" />
								<h:graphicImage class="rating-stars" library="images"
									name="star.ico" alt="rating scheme"
									rendered="#{bookReviewAction.displayStarFive(aReview.rating)}" />
							</div>
							<p class="review-title">#{aReview.name}</p>
							<p class="review-text">#{aReview.text}</p>
						</div>
					</ui:repeat>

				</div>
			</div>
		</div>
	</div>
	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->

	<script type="text/javascript">
		function resetvalue() {
			$(document).ready(function() {
				$('#signuporm').ajaxForm(function() {
					this.reset();
					alert('success');
				});
			});
		}

		function checkSelect1(selVal) {
			alert(selVal);
			sel2 = document.getElementById("province");
			if (selVal == "USA") {
				sel2.disabled = true;
			} else {
				sel2.disabled = false;
			}
		}

		$('.reviewTitleInput').val("");
		$('.reviewTextArea').val("");
		$('#review-form\\:reviewText').attr("maxlength", "750");
	</script>

	<!-- jQuery code down by Sean-Frankel Gaon Canlas and Jhonatan Orjuela-->
	<h:outputScript library="scripts" name="stars.js" />
	<!-- End of jQuery code down by Sean-Frankel Gaon Canlas and Jhonatan Orjuela -->
</f:view>
</h:body>
</html>