<?xml version='1.0' encoding='UTF-8' ?>

<!--
	TODO: insert invoice garbage. 

	Author: Sophie Leduc Major
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- HEAD -->
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>BookBay</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="checkout_thankyou.css" />
	<h:outputStylesheet library="css" name="jquery.bxslider.css" />

	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
	<h:outputScript library="scripts" name="jquery.bxslider.js" />
	<h:outputScript library="scripts" name="main.js" />

	<script type="text/javascript">

			function printTextArea() {
		        window.print();
		      }
		
	</script>

</h:head>


<h:body>
<f:view locale="#{localeChanger.locale}">
	<f:event listener="#{checkoutBean.createInvoice}" type="preRenderView" />

	<ui:include src="/WEB-INF/templates/header.xhtml" />


	<div id="wrapper">



		<div id="content">
			<label id="thankyouLbl">#{msg['thankYou']}</label><br />
			<div id="invoice">
				<label id="invoicelbl" style="text-align: left">#{msg['yourInvoice']}</label>
				<h:commandButton id="print" style="text-align: right" value="#{msg['print']}">
				</h:commandButton>
				<br />
				<h:inputTextarea id="invoiceText" value="#{checkoutBean.invoice}" readonly="true"
					row="60" col="500" />
			</div>
			<h:form>
				<h:commandLink class="continue"
					value="#{msg['continueShopping']}" action="#{cartBean.emptyCart}" />
			</h:form>

		</div>
	</div>


	<ui:include src="/WEB-INF/templates/footer.xhtml" />

</f:view>
</h:body>

</html>