<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>

</h:head>
<h:body>
	<h:panelGrid columns="2">
		<h:outputText value="Email :" />
		<h:outputText value="#{clientBean.email}" />
		<h:outputText value="password :" />
		<h:outputText value="#{clientBean.password}" />
	</h:panelGrid>
</h:body>
</html>