<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villeneuve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['bookViewTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="management_book.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />
</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<div id="wrap">
	<f:event listener="#{managementBean.validateAccount(loginBean.logedin, loginBean.admin)}"
		type="preRenderView" />

		<ui:include src="/WEB-INF/templates/header.xhtml" />

		<div class="container-fluid main-content">
			<div class="footercorrect">
				<h:form styleClass="form-horizontal">
					<legend>#{msg.bookViewTitle1}</legend>
					<fieldset>

						<f:event listener="#{managementBean.findbook}"
							type="preRenderView" />

						<br />
						<div class="rightform">
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookImage}
								</label>
								<div class="col-sm-6">
									<h:graphicImage library="bookscover"
										name="#{managementBean.editbook.bookCoverImg}" width="150"
										height="200" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookTitle}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="title"
										value="#{managementBean.editbook.title}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookAuthor}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="author"
										value="#{managementBean.editbook.author}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookIsbn10}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="isbn10"
										value="#{managementBean.editbook.isbn10}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookIsbn13}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="isbn13"
										value="#{managementBean.editbook.isbn13}" disabled="true">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookGenre}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="genre"
										value="#{managementBean.editbook.genre}">
									</h:inputText>
								</div>
							</div>
						</div>
						<div class="leftform">
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookPublisher}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="publisher"
										value="#{managementBean.editbook.publisher}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">
									#{msg.bookPages} </label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="nbpages"
										value="#{managementBean.editbook.numOfPages}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookWholeSalePrice}
								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="wholesaleprice"
										value="#{managementBean.editbook.wholeSalePrice}">
									</h:inputText>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookListPrice}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="listprice"
										value="#{managementBean.editbook.listPrice}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookSalePrice}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="saleprice"
										value="#{managementBean.editbook.salePrice}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookDimension}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="dimensions"
										value="#{managementBean.editbook.dimensions}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookNbCopie}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="bncopie"
										value="#{managementBean.editbook.numOfCopies}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.bookWeight}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="weight"
										value="#{managementBean.editbook.weight}">
									</h:inputText>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label" for="city">#{msg.ebookFormat}

								</label>
								<div class="col-sm-6">
									<h:inputText styleClass="form-control" id="ebookformat"
										value="#{managementBean.editbook.ebookFormat}">
									</h:inputText>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="country">#{msg['bookType']}</label>
							<div class="col-sm-2">
								<h:selectOneMenu id="country"
									styleClass="form-control country-dropdown"
									value="#{managementBean.editbook.bookType}">
									<f:selectItem itemValue="1" itemLabel="Paper back" />
									<f:selectItem itemValue="2" itemLabel="Hardcover" />
									<f:selectItem itemValue="3" itemLabel="Ebook" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-5 col-sm-push-2">
								<h:commandButton type="submit" styleClass="btn btn-default"
									value="#{msg['editButton']}"
									action="#{managementBean.editBook()}">
								</h:commandButton>
							</div>
						</div>
					</fieldset>
				</h:form>
			</div>
		</div>
	</div>
	<!-- Start of Footer Div -->
	<ui:include src="/WEB-INF/templates/footer.xhtml" />
	<!-- End of Footer Div -->

	<script type="text/javascript">
		function resetvalue() {
			$(document).ready(function() {
				$('#signuporm').ajaxForm(function() {
					this.reset();
					alert('success');
				});
			});
		}

		function checkSelect1(selVal) {
			alert(selVal);
			sel2 = document.getElementById("province");
			if (selVal == "USA") {
				sel2.disabled = true;
			} else {
				sel2.disabled = false;
			}
		}
	</script>
</f:view>
</h:body>
</html>
