<?xml version="1.0" encoding="UTF-8"?>
<!--  
	Authors: Theo De Villenueve
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
<body>
	<ui:composition>
		<div class="tab-pane active .fade" id="report">
			<ul class="nav nav-tabs">
				<li><a href="#totalsales" data-toggle="tab">#{msg.managementreport1}</a></li>
				<li><a href="#zerosales" data-toggle="tab">#{msg.managementreport2}</a></li>
				<li><a href="#salesbyauthor" data-toggle="tab">#{msg.managementreport3}</a></li>
				<li><a href="#salesbypublisher" data-toggle="tab">#{msg.managementreport4}</a></li>
				<li><a href="#topsellers" data-toggle="tab">#{msg.managementreport5}</a></li>
				<li><a href="#topclients" data-toggle="tab">#{msg.managementreport6}</a></li>
				<li><a href="#reorder" data-toggle="tab">#{msg.managementreport7}</a></li>

				<li><a href="#inventoryreport" data-toggle="tab">#{msg.managementreport8}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active .fade" id="totalsales">
					<div class="footercorrect">
						<h:form>
							<br />
							<b>#{msg.managementDate} </b>
							<rich:calendar id="firstDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
							<b> #{msg.managementDate2} </b>
							<rich:calendar id="secondDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
							<h:commandButton class="btn btn-default btn-sm " type="submit"
								value="#{msg.submitButton}"
								action="#{managementBean.convertDate}">
								<f:ajax execute="@form" render="@form" />
							</h:commandButton>
							<h:dataTable id="displaypurchase"
								value="#{invoiceAction.getQueryRecordsDate(managementBean.datetransf,managementBean.datetransf2)}"
								var="invoiceinfo"
								styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementSaleSumber}</f:facet>
								#{invoiceinfo.saleNumber}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementDateOfSale}</f:facet>
								#{invoiceinfo.date} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementTotalGross}</f:facet>
								#{invoiceinfo.totalGross} </h:column>
							</h:dataTable>
<!-- 							<ui:repeat value="#{invoiceAction.totalGrossBookbay}" var="total"> -->
<!-- 								<b>#{msg.managementTotal} : </b> -->
<!-- 								<b>#{msg.canadianDollar}</b> -->
<!-- 								<h:outputText value="#{total}" /> -->
<!-- 							</ui:repeat> -->
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="salesbyauthor">
					<div class="footercorrect">
						<h:form>

							<br />
							<div class="form-group">
								<label class="col-sm-2 control-label" for="author"><b>#{msg.managementAuthorchoice}</b></label>
								<div class="col-sm-3">
									<h:selectOneMenu id="author" value="#{bookBean.author}">
										<f:selectItems value="#{bookAction.allAuthor}"
											var="authorname" itemLabel="#{authorname}"
											itemValue="#{authorname}" />
										<f:ajax execute="@form" render="@form" />
									</h:selectOneMenu>
								</div>
							</div>
							<br />
							<div class="floatleft">
								<b>#{msg.managementDate} </b>
								<rich:calendar id="firstDate" popup="true"
									datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
								<b> #{msg.managementDate2} </b>
								<rich:calendar id="secondDate" popup="true"
									datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
								<h:commandButton class="btn btn-default btn-sm " type="submit"
									value="#{msg.submitButton}"
									action="#{managementBean.convertDate}">
									<f:ajax execute="@form" render="@form" />
								</h:commandButton>
							</div>
							<h:dataTable id="displaysalesbyauthor"
								value="#{invoiceDetailAction.getQueryRecordsByAuthor(bookBean.author,managementBean.datetransf,managementBean.datetransf2)}"
								var="invoiced" styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementBook}</f:facet>
								#{managementBean.getBookName(invoiced.bookIsbn)}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementIsbn}</f:facet>
								#{invoiced.bookIsbn}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementQuantity}</f:facet>
								#{invoiced.quantity}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementBookPrice}</f:facet>
								#{invoiced.bookPrice} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementTotal}</f:facet>
								#{managementBean.getTotal(invoiced.quantity, invoiced.bookPrice)} </h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="salesbypublisher">
					<div class="footercorrect">
						<h:form>

							<br />

							<div class="form-group">
								<label class="col-sm-2 control-label" for="title"><b>#{msg.managementPublisherchoice}</b></label>
								<div class="col-sm-3">
									<h:selectOneMenu value="#{bookBean.publisher}">
										<f:selectItems value="#{bookAction.allPublisher}"
											var="publishername" itemLabel="#{publishername}"
											itemValue="#{publishername}" />
										<f:ajax execute="@form" render="@form" />
									</h:selectOneMenu>
								</div>
							</div>
							<br />
							<div class="floatleft">
								<b>#{msg.managementDate} </b>
								<rich:calendar id="firstDate" popup="true"
									datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
								<b> #{msg.managementDate2} </b>
								<rich:calendar id="secondDate" popup="true"
									datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
								<h:commandButton class="btn btn-default btn-sm " type="submit"
									value="#{msg.submitButton}"
									action="#{managementBean.convertDate}">
									<f:ajax execute="@form" render="@form" />
								</h:commandButton>
							</div>
							<h:dataTable id="displaysalesbypublisher"
								value="#{invoiceDetailAction.getQueryRecordsByPublisher(bookBean.publisher, managementBean.datetransf, managementBean.datetransf2)}"
								var="invoiced" styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementBook}</f:facet>
								#{managementBean.getBookName(invoiced.bookIsbn)}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementIsbn}</f:facet>
								#{invoiced.bookIsbn}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementQuantity}</f:facet>
								#{invoiced.quantity}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementBookPrice}</f:facet>
								#{invoiced.bookPrice} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementTotal}</f:facet>
								#{managementBean.getTotal(invoiced.quantity, invoiced.bookPrice)} </h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="topsellers">
					<div class="footercorrect">
						<h:form>
							<br />
							<b>#{msg.managementDate} </b>
							<rich:calendar id="firstDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
							<b> #{msg.managementDate2} </b>
							<rich:calendar id="secondDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
							<h:commandButton class="btn btn-default btn-sm " type="submit"
								value="#{msg.submitButton}"
								action="#{managementBean.convertDate}">
								<f:ajax execute="@form" render="@form" />
							</h:commandButton>
							<h:dataTable id="displaytopsellers"
								value="#{invoiceDetailAction.getTopSellers(managementBean.datetransf, managementBean.datetransf2)}"
								var="invoiced" styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementBook}</f:facet>
								#{managementBean.getBookName(invoiced.bookIsbn)}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementIsbn}</f:facet>
								#{invoiced.bookIsbn}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementQuantity}</f:facet>
								#{invoiced.quantity}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementBookPrice}</f:facet>
								#{invoiced.bookPrice} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementTotal}</f:facet>
								#{managementBean.getTotal(invoiced.quantity, invoiced.bookPrice)} </h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="topclients">
					<div class="footercorrect">
						<h:form>
							<br />
							<b>#{msg.managementDate} </b>
							<rich:calendar id="firstDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
							<b> #{msg.managementDate2} </b>
							<rich:calendar id="secondDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
							<h:commandButton class="btn btn-default btn-sm " type="submit"
								value="#{msg.submitButton}"
								action="#{managementBean.convertDate}">
								<f:ajax execute="@form" render="@form" />
							</h:commandButton>
							<h:dataTable id="displaytopclient"
								value="#{invoiceAction.getTopClients(managementBean.datetransf, managementBean.datetransf2)}"
								var="client" styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementClientNumber}</f:facet>
								#{client.clientNumber}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementNameComplete}</f:facet>
								#{managementBean.getClientName(client.clientNumber)}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementTotalGross}</f:facet>
								#{client.totalGross}</h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="reorder">
					<div class="footercorrect">
						<h:dataTable id="displayreorder" value="#{bookAction.reorder}"
							var="book" styleClass="table table-striped table-condensed">
							<h:column>
								<f:facet name="header">#{msg.managementIsbn}</f:facet>
								#{book.isbn13}</h:column>
							<h:column>
								<f:facet name="header">#{msg.managementBook}</f:facet>
								#{book.title}</h:column>
							<h:column>
								<f:facet name="header">#{msg.managementAuthor}</f:facet>
								#{book.author} </h:column>
							<h:column>
								<f:facet name="header">#{msg.managementPublisher}</f:facet>
								#{book.publisher} </h:column>
							<h:column>
								<f:facet name="header">#{msg.managementNbcopie}</f:facet>
								#{book.numOfCopies} </h:column>

						</h:dataTable>
					</div>
				</div>
				<div class="tab-pane .fade" id="zerosales">
					<div class="footercorrect">
						<h:form>
							<br />
							<b>#{msg.managementDate} </b>
							<rich:calendar id="firstDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.firstDate}"></rich:calendar>
							<b> #{msg.managementDate2} </b>
							<rich:calendar id="secondDate" popup="true"
								datePattern="dd/MM/yyyy" value="#{managementBean.secondDate}"></rich:calendar>
							<h:commandButton class="btn btn-default btn-sm " type="submit"
								value="#{msg.submitButton}"
								action="#{managementBean.convertDate}">
								<f:ajax execute="@form" render="@form" />
							</h:commandButton>
							<h:dataTable id="displayzerosales"
								value="#{bookAction.getZeroSales(managementBean.datetransf, managementBean.datetransf2)}"
								var="book" styleClass="table table-striped table-condensed">
								<h:column>
									<f:facet name="header">#{msg.managementBook}</f:facet>
								#{book.title}</h:column>
								<h:column>
									<f:facet name="header">#{msg.managementAuthor}</f:facet>
								#{book.author} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementNbcopie}</f:facet>
								#{book.numOfCopies} </h:column>
								<h:column>
									<f:facet name="header">#{msg.managementDateEntered}</f:facet>
								#{book.dateEntered} </h:column>
							</h:dataTable>
						</h:form>
					</div>
				</div>
				<div class="tab-pane .fade" id="inventoryreport">
					<div class="footercorrect">
						<br /> <b>#{msg.managementWholeSalePriceTotal}
							#{msg.canadianDollar}</b>
						#{managementBean.getWholeSalePriceInventory()} <br /> <b>#{msg.managementListPriceTotal}
							#{msg.canadianDollar}</b> #{managementBean.getListPriceInventory()}<br />
						<b>#{msg.managementNumberBook}</b> #{managementBean.numberOfBook}
						<h:dataTable id="displayinventoryreport"
							value="#{bookAction.allRecords}" var="book"
							styleClass="table table-striped table-condensed">
							<h:column>
								<f:facet name="header">#{msg.managementIsbn}</f:facet>
								#{book.isbn13}</h:column>
							<h:column>
								<f:facet name="header">#{msg.managementBook}</f:facet>
								#{book.title}</h:column>
							<h:column>
								<f:facet name="header">#{msg.managementAuthor}</f:facet>
								#{book.author} </h:column>
							<h:column>
								<f:facet name="header">#{msg.managementNbcopie}</f:facet>
								#{book.numOfCopies} </h:column>
							<h:column>
								<f:facet name="header">#{msg.managementListPrice}</f:facet>
								#{book.listPrice} </h:column>
							<h:column>
								<f:facet name="header">#{msg.managementWholeSalePrice}</f:facet>
								#{book.wholeSalePrice} </h:column>
						</h:dataTable>
					</div>
				</div>
				
			</div>
		</div>
	</ui:composition>

</body>
</html>