<?xml version='1.0' encoding='UTF-8' ?>
<!--  
	Authors: Theo De Villenueve, Sean-Frankel Gaon Canlas
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>#{msg['signUpTitle']}</title>

	<link rel="shortcut icon" type="image/png"
		href="resources/images/favicon.png" />

	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,
	600italic,700italic,800italic,400,300,800,700,600'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="master.css" />
	<h:outputStylesheet library="css" name="signup.css" />
	<h:outputScript library="scripts" name="jquery-2.0.3.js" />
	<h:outputScript library="scripts" name="main.js" />
	<h:outputScript library="scripts" name="bootstrap.min.js" />

</h:head>
<h:body>
<f:view locale="#{localeChanger.locale}">
	<div id="wrapper">

		<ui:include src="/WEB-INF/templates/header.xhtml" />

		<h:panelGroup rendered="#{loginBean.logedin}">
			<h1 class="logged-msg">You are already signed up!</h1>
		</h:panelGroup>

		<h:panelGroup rendered="#{not loginBean.logedin}">
			<div id="bookmark"></div>
			<div class="container-fluid main-content">
				<h:form styleClass="form-horizontal" role="signup" id="signupform">
					<legend>#{msg['signUpFormLegend1']}</legend>
					<fieldset>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="email">#{msg['emailInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="col-sm-3 form-control form-email"
									id="email1" placeholder="Enter email"
									value="#{clientBean.email}" size="50" maxlength="50"
									validator="#{inscrireBean.validateEmail}" required="true"
									label="Email">
									<f:ajax event="blur" render="emailerror" />
								</h:inputText>
								<h:message id="emailerror" for="email1" errorclass="errorsignup"
									styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="password">#{msg['passwordInputField']}</label>
							<div class="col-sm-3">
								<h:inputSecret styleClass="form-control" id="password1"
									placeholder="Enter password" value="#{clientBean.password}"
									size="78" maxlength="78" required="true" label="Password">
									<f:validator validatorId="passwordValidator" />
									<f:ajax event="blur" render="password1error" />
								</h:inputSecret>

								<h:message id="password1error" for="password1"
									errorclass="errorsignup" styleClass="has-error errorsignup" />


							</div>
						</div>
					</fieldset>

					<legend>#{msg['signUpFormLegend2']}</legend>
					<fieldset>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="title">#{msg['titleInputField']}</label>
							<div class="col-sm-3">
								<h:selectOneMenu id="title" styleClass="form-control"
									value="#{clientBean.title}">
									<f:selectItems value="#{clientBean.titleValue}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="firstname">#{msg['firstNameInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="col-sm-3 form-control" id="firstname"
									placeholder="John" value="#{clientBean.firstName}"
									required="true" label="Firstname" size="15" maxlength="15"
									validatorMessage="This field cannot contains special caracter or digit">
									<f:ajax event="blur" render="firstnameerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<h:message id="firstnameerror" for="firstname"
									errorclass="errorsignup" styleClass="has-error errorsignup" />

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="lastname">#{msg['lastNameInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="lastname"
									placeholder="Smith" value="#{clientBean.lastName}"
									required="true" label="Lastname" size="20" maxlength="20"
									validatorMessage="This field cannot contains special caracter or digit">
									<f:ajax event="blur" render="lastnameerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<h:message id="lastnameerror" for="lastname"
									errorclass="errorsignup" styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="company">#{msg['companyNameInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="company"
									placeholder="BookBay" value="#{clientBean.company}"
									label="Company name" size="15" maxlength="15"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="companyerror" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<h:message id="companyerror" for="company"
									errorclass="errorsignup" styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="address1">#{msg['address1InputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="address1"
									placeholder="1234 Bay Street" value="#{clientBean.address1}"
									required="true" label="Adress 1" size="25" maxlength="25"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="address1error" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<h:message id="address1error" for="address1"
									errorclass="errorsignup" styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="address2">#{msg['address2InputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="address2"
									placeholder="1234 Boot Strap" value="#{clientBean.address2}"
									label="Adress 2" size="25" maxlength="25"
									validatorMessage="This field cannot contains special caracter">
									<f:ajax event="blur" render="address2error" />
									<f:validateRegex pattern="[a-zA-Z0-9 ]*" />
								</h:inputText>
								<h:message id="address2error" for="address2"
									errorclass="errorsignup" styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="city">#{msg['cityInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="city"
									placeholder="Montreal" value="#{clientBean.city}"
									required="true" label="City" size="30" maxlength="30"
									validatorMessage="This field cannot contain special characters or digits">
									<f:ajax event="blur" render="cityerror" />
									<f:validateRegex pattern="[a-zA-Z ]*" />
								</h:inputText>
								<h:message id="cityerror" for="city" errorclass="errorsignup"
									styleClass="has-error errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="postal">#{msg['postalCodeInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="postal"
									placeholder="A1A 1A1" value="#{clientBean.postalCode}"
									required="true" label="Postal" size="10" maxlength="10"
									validatorMessage="Error postalcode format : H1W 1R9">
									<f:ajax event="blur" render="postalerror" />
									<f:validateRegex
										pattern="(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXY]{1}\d{1}[A-Z]{1} *\d{1}[A-Z]{1}\d{1}$)" />
								</h:inputText>
								<h:message id="postalerror" for="postal"
									errorclass="errorsignup" styleClass="errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="cellphone">#{msg['cellPhoneInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="cellphone"
									placeholder="A1A 1A1" value="#{clientBean.cellTelephone}"
									required="true" label="Postal" size="12" maxlength="12">
									<f:ajax event="blur" render="celltelephoneerror" />
									<f:validateRegex
										pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" />
								</h:inputText>
								<h:message id="celltelephoneerror" for="cellphone"
									errorclass="errorsignup" styleClass="errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="hometelephone">#{msg['homePhoneInputField']}</label>
							<div class="col-sm-3">
								<h:inputText styleClass="form-control" id="hometelephone"
									placeholder="A1A 1A1" value="#{clientBean.homeTelephone}"
									required="true" label="Postal" size="12" maxlength="12">
									<f:ajax event="blur" render="hometelephoneerror" />
									<f:validateRegex
										pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$" />
								</h:inputText>
								<h:message id="hometelephoneerror" for="hometelephone"
									errorclass="errorsignup" styleClass="errorsignup" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="country">#{msg['countryInputField']}</label>
							<div class="col-sm-3">
								<h:selectOneMenu id="country"
									styleClass="form-control country-dropdown"
									value="#{clientBean.country}" onchange="changeProvinceList()">
									<f:selectItems styleClass="country-dropdown"
										value="#{clientBean.countryValue}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="province">#{msg['provinceInputField']}</label>
							<div class="col-sm-3">
								<h:selectOneMenu id="province" name="province"
									styleClass="form-control" value="#{clientBean.province}">
									<f:selectItems value="#{clientBean.provinceValue}" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="form-group">
							<h:messages globalOnly="true" infoClass="info" />
							<div class="col-sm-2 col-sm-push-2">
								<h:commandButton type="submit" styleClass="btn btn-default"
									value="#{msg['submitButton']}"
									action="#{inscrireBean.inscrire}" />

							</div>
							<div class="col-sm-3 col-sm-push-2">
								<h:commandButton type="reset" class="btn btn-default"
									value="#{msg['resetButton']}" onclick="resetvalue()" />
							</div>
						</div>
					</fieldset>
				</h:form>
			</div>
		</h:panelGroup>
	</div>

	<ui:include src="/WEB-INF/templates/footer.xhtml" />

	<script type="text/javascript">
		function resetvalue() {
			$(document).ready(function() {
				$('#signuporm').ajaxForm(function() {
					this.reset();
					alert('success');
				});
			});
		}

		function checkSelect1(selVal) {
			alert(selVal);
			sel2 = document.getElementById("province");
			if (selVal == "USA") {
				sel2.disabled = true;
			} else {
				sel2.disabled = false;
			}
		}

		/*
		 * Dynamically changes the province/state list depending on the selected country
		 * by the user.
		 *
		 * @author Tyler Patricio
		 */
		function changeProvinceList() {
			var country = document.getElementById("signupform:country").value;
			var listToBeChanged = document
					.getElementById("signupform:province").value;

			alert(listToBeChanged);

			if (country === "USA") {
				alert("I'm USA");
			}

			else if (country === "Canada") {
				alert("I'm Canada");
			}
		}
	</script>
	</f:view>
</h:body>
</html>