/* Author: Sophie Leduc-Major, Sean Frankel Gaon Canlas */

body {
	background: #FFF2E7;
	height: 1000px;
	font-family: "Open Sans";
}

#samebillingdiv {
	padding: 3px;
	background: #de8642;
	margin-bottom: 10px;
}



#wrapper {
	height: 100%;
}

#checkoutBar {
	margin-top: 50px;
}

#page-header {
	margin-top: 30px;
}

#progress {
	margin-bottom: 30px;
}

#content {
	position: relative;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 1000px;
	clear: both;
	float: center;
}

#billingDiv {
	position: relative;
	float: left;
	padding: 5px;
	margin-right: 5px;
	width: 450px
}

.fields-label {
	float: left;
	width: 30%;
}

.fields-input {
	width: 60%;
	float: right;
}

.fields-error {
	float: right;
	font-size: 12px;
	color: RED;
}

#button-div {
	width: 100%;
	text-align: right;
	height: 200px;
	float: left;
}

#billingform\:button {

	margin-bottom: 50px;
	float: right;
	width: 120px;
	
}

#billingForm {
	width: 400px
}

#shippingDiv {
	position: relative;
	padding: 5px;
	float: right;
	width: 400px
}

#form {
	
}

.payment {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #de8642));
	background: -moz-linear-gradient(center top, #ededed 5%, #de8642 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#de8642');
	background-color: #ededed;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

.payment:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #de8642
		), color-stop(1, #ededed));
	background: -moz-linear-gradient(center top, #de8642 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de8642',
		endColorstr='#ededed');
	background-color: #de8642;
	text-decoration: none;
}

.payment:active {
	position: relative;
	top: 1px;
	text-decoration: none;
}
/* This button was generated using CSSButtonGenerator.com */