/*
	Author: Tyler Patricio, Sean
*/
body 
{
	height: 1000px;
	padding-bottom: 70px;
	font-family: "Open Sans";
	background: #FFF2E7;
}

.wrap {
	height: 1000px;
}

@media ( max-width : 767px) 
{
	body 
	{
		height: 300%;
	}
}

.explanations
{
	width: 1000px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

#header
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-bottom: 1px solid #000;
	border-color: rgba(0,0,0,.15);
}