body {
	margin: 0;
	border: 0;
	padding: 0;
	height: 140%;
	padding-bottom: 4.375em;
	background: #FFF2E7;
}
.main-content {
	margin-top: 70px;
	width: 85%;
}
.form-control {
	width: 160%;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
}
#addbook{
	margin-bottom:3em;
	margin-top:2em;
	float:left;
}
.rightform{
	display:inline-block;
	
}
.leftform{
	display:inline-block;
	margin-left: 100px;
	vertical-align: top;
}
td{
	font-size:small;
}