/* 404 CSS */
body {
	background: #FFF2E7;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
	font-family: "Open Sans";
}

#wrapper {
	min-height: 500px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#pusher {
	height: 45%;
	width: 1000px;
	background: blue;
}

#msg {
	font-weight: 200;
	font-size: 30px;
	height: 300px;
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 100px;
}