/*
	Author: Jhonatan Orjuela, Sean-Frankel Gaon Canlas
	
*/
body {
	height: 1200px;
	font-family: "Open Sans";
	background: #FFF2E7;
}

#wrap {
	height: 1000px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width : 768px) {
	.content {
		margin-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 30px;
		width: 100%;
		height: 100%;
		float: left;
		font-size: 17px;
		font-weight: 300;
		float: left;
		margin-bottom: 100px;
	}
	.book-review {
		padding-left: 15px;
		border-left: 1px solid;
		border-color: rgba(0, 0, 0, 0.1);
		width: 500px;
		float: left;
		height: calc(100% - 5px);
	}
	.results {
		min-height: 1000px;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.book-info {
		height: 100%;
		width: 300px;
		float: left;
		margin-left: 15px;
	}
	.book-content {
		margin-top: 10px;
		height: 210px;
		width: 100%;
		padding: 0;
		padding-top: 12px;
		float: left;
		border-top: 1px solid;
		border-color: rgba(0, 0, 0, 0.1);
	}
}

@media ( max-width : 767px) {
	.content {
		margin-top: 100px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 30px;
		width: 320px;
		height: 100%;
		float: left;
		font-size: 17px;
		font-weight: 300;
		float: left;
		margin-bottom: 100px;
	}
	.results {
		width: 60%;
	}
	.book-review {
		display: none;
	}
	.book-info {
		height: 100%;
		width: 200px;
		float: left;
	}
	.book-content {
		min-width: 320px;
	}
	.book-cover {
		float: left;
	}
}

.menu {
	margin-top: 230px;
}

.book-result {
	border-bottom: 1px solid gray;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 20%;
	width: 100%;
}

.book-cover {
	width: 130px;
	height: 200px;
	padding-bottom: 5px;
	float: left;
}

.prices-div {
	float: left;
	width: 100%;
}

.book-title {
	width: 100%;
	float: left;
	padding-right: 10px;
}

.book-author {
	width: 100%;
}

.price-tag {
	
}

a:hover {
	text-decoration: none;
	color: orange;
}

p {
	display: inline;
}

.book-price:hover {
	text-decoration: line-through;
	color: gray;
}

.book-price {
	text-decoration: line-through;
	color: gray;
}