<?xml version="1.0" encoding="UTF-8"?>
<!--  
	Authors: Theo De Villenueve, Sean-Frankel Gaon Canlas
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
		<ui:composition>
			<div id="footer">

				<div id="footer-wrapper">
					<h:panelGroup rendered="#{not surveyActionBean.voted}">
						<div class="footer-section footer-border">
							#{surveyActionBean.survey.question}
							<h:form styleClass="footer-survey1">
								<h:selectOneRadio id="survey-radio"
									styleClass="form-vertical footer-survey"
									value="#{surveyActionBean.result}">
									<f:selectItem id="item1" styleClass="footer-survey"
										itemLabel="#{surveyActionBean.survey.option1}" itemValue="1" />
									<f:selectItem id="item2" styleClass="footer-survey"
										itemLabel="#{surveyActionBean.survey.option2}" itemValue="2" />
									<f:selectItem id="item3" styleClass="footer-survey"
										itemLabel="#{surveyActionBean.survey.option3}" itemValue="3" />
									<f:selectItem id="item4" styleClass="footer-survey"
										itemLabel="#{surveyActionBean.survey.option4}" itemValue="4" />
								</h:selectOneRadio>
								<h:commandButton
									action="#{surveyActionBean.addVotes(surveyActionBean.result)}"
									styleClass="btn btn-default">
									<f:param name="isbn13"
										value="#{displayBooksBean.singleBook.isbn13}" />
									<f:param name="book" value="#{managementBean.editbook.isbn13}" />
									<f:param name="user" value="#{managementBean.editclient.email}" />
									<f:param name="ship" value="#{managementBean.ship.id}" />
								</h:commandButton>
							</h:form>
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{surveyActionBean.voted}">
						<div class="footer-section footer-border">
							<b>#{surveyActionBean.survey.question}</b><br />
							<h:form styleClass="footer-survey1">						
						#{surveyActionBean.survey.option1} :
						#{surveyActionBean.getPercent(surveyActionBean.survey.getVotes1())}% <br />
						#{surveyActionBean.survey.option2} :
						#{surveyActionBean.getPercent(surveyActionBean.survey.getVotes2())}% <br />
						#{surveyActionBean.survey.option3} :
						#{surveyActionBean.getPercent(surveyActionBean.survey.getVotes3())}% <br />
						#{surveyActionBean.survey.option4} :
						#{surveyActionBean.getPercent(surveyActionBean.survey.getVotes4())}% <br />
						#{msg.managementSurveyTotalVote} : #{surveyActionBean.survey.totalVotes} votes<br />
							</h:form>
						</div>
					</h:panelGroup>
					<div class="footer-section">
						<div class="footer-top">
							<ul>
								<li>#{msg['about']}</li>
								<li>#{msg['help']}</li>
								<li>#{msg['contact']}</li>
							</ul>
						</div>
						<div class="footer-bottom">Copyright &copy; Group 3 &bull;
							Sean, Theo, Jhon, Sophie, Tyler &bull; Dawson College &bull;
							Computer Science and Technology</div>
					</div>
					<div class="footer-section footer-border">
						<ul>
							<h:link styleClass="footer-link" outcome="toAccount">
								<li>#{msg['yourAccount']}</li>
							</h:link>
							<h:link styleClass="footer-link" outcome="toCart">
								<li>#{msg['yourCart']}</li>
							</h:link>
							<h:form>
								<li><h:commandLink styleClass="footer-link"
										action="#{localeChanger.changeToFrench}">#{msg['French']}
																			<f:param name="isbn13"
										value="#{displayBooksBean.singleBook.isbn13}"></f:param>
									<f:param name="book" value="#{managementBean.editbook.isbn13}" />
									<f:param name="ship" value="#{managementBean.ship.id}" />
								</h:commandLink> 
								<h:commandLink styleClass="footer-link"
										action="#{localeChanger.changeToEnglish}">#{msg['English']}
																			<f:param name="isbn13"
										value="#{displayBooksBean.singleBook.isbn13}"></f:param>
									<f:param name="book" value="#{managementBean.editbook.isbn13}" />
									<f:param name="ship" value="#{managementBean.ship.id}" />
								</h:commandLink></li>
							</h:form>
						</ul>
					</div>
				</div>
			</div>
		</ui:composition>
</body>
</html>